<div class="filterBase flexColumn">

	<ItemsFilter ItemsFilterType="Name" />

	<ItemsFilter ItemsFilterType="Producer"  />

	<div style="position:relative; height:50px;"><h3>Price</h3></div>

	<ItemsFilter ItemsFilterType="Property"  />

	<ItemsFilter ItemsFilterType="Category"  />

	<ItemsFilter ItemsFilterType="Tag"  />

	@*<ItemsFilter FilterType="Name" FilterClass="itemsfilterName" />

		<ItemsFilter FilterType="Producer"  FilterClass="itemsfilterProducer" />

		<div style="position:relative; height:50px;"><h3>Price</h3></div>

		<ItemsFilter FilterType="Property" FilterClass="itemsfilterProperty"/>

		<ItemsFilter FilterType="Category" FilterClass="itemsfilterCategory" />

		<ItemsFilter FilterType="Tag" FilterClass="itemsfilterTag"/>*@

</div>

