<div class="filterBase flexColumn">

	<ItemsFilter FilterType="Name" FilterClass="itemsfilterName" />

	<ItemsFilter FilterType="Producer"  FilterClass="itemsfilterProducer" />

	<div style="position:absolute; top:200px;height:50px;"><h3>Price</h3></div>

	<ItemsFilter FilterType="Property" FilterClass="itemsfilterProperty"/>

	<ItemsFilter FilterType="Category" FilterClass="itemsfilterCategory"/>

	<ItemsFilter FilterType="Tag" FilterClass="itemsfilterTag"/>

</div>

