<div class="filterBase" >

	<ItemsFilter FilterType="Name" />

	<ItemsFilter FilterType="Producer" />

	<PriceFilter />

	<ItemsFilter FilterType="Property" />

	<ItemsFilter FilterType="Category" />

	<ItemsFilter FilterType="Tag" />

</div>

