@inherits Maklak.Client.Web.Models.ItemsFilterModel
@*inherits from model class*@

@*style="background-color: red; height:200px; width:auto;"*@
<div class="itemsfilterBase">

	<fieldset class="itemsfilterFieldset">
		<legend class="itemsfilterLegend">@ItemsFilterType</legend>

		<div class="itemsfilterOuter">

			<div style="position:relative">
				<input type="button" value="Add" @onclick="OnAdd" />
				<input type="button" value="Edit" />
				<input type="button" value="Delete" @onclick="OnDelete" />
			</div>

			<div class="itemsfilterSearchCell" >
				<input class="itemsfilterSearchInput" type="search" @bind="SearchText" @bind:event="oninput" />
			</div>

			<div class="itemsfilterItemsCell">

					<div>

						<ItemsTree Items=this.Items/>
						
					</div>
			</div>

		</div>
</fieldset>
</div>


