@inherits Maklak.Client.Web.Models.FilterModel 
@*inherits from model class*@

<div>

	<fieldset style="border-color:black; border-style:solid; border-width:1px;">

		<legend style="width:auto; margin:2px; padding: 2px; font-size:initial; font-weight:bold">@FilterType</legend>



		<div class="flexColumn">

			<AuthorizeView>
				<div class="flexRow">
					<input type="button" value="Add" />
					<input type="button" value="Edt" />
					<input type="button" value="Del" />
				</div>
			</AuthorizeView>

			<div>
				<input type="search" @bind="SearchText" @bind:event="oninput" />  @*@oninput="Search_OnInput"*@
			</div>

			@*<div style="background-color: lightgray; height:40px">selection area</div>*@

			<div style="background-color:aliceblue; height:120px">
				<ul>
					@foreach (Maklak.Client.DataSets.FilterDS.ItemsRow row in this.SearchResult.Where(r=> r.Name == ItemsFilterType))
					{
						<li data-itemId="@row.ItemId">@row.ItemValue</li>
					}
				</ul>
			</div>


		</div>
			</fieldset>

		</div>
