@inherits Maklak.Client.Web.Models.Filter.ItemTreeNodeModel

@foreach (Maklak.Client.DataSets.ItemsTreeDS.ItemsRow row in this.Items)
{
<div data-itemId="@row.Id">

	@{
		string contentPadding = "treeContentPadding";
		string itemClass = row.IsSelected ? "treeItemSelected" : "treeItem";

		}

	@if (row.Id == int.MaxValue)
	{		
		contentPadding = string.Empty;		
	}
	else
	{
	<div class="@itemClass" @onclick="(e=>OnClick(row.Id))">
		@if (!row.IsHasChildrenNull())
		{
			if (row.HasChildren)
			{
				<div style="display:inline-block; height:21px; width:21px;border-style:solid; border-color:black; border-width:1px;">+</div>
			}
			else
			{
				<div style="display:inline-block; height: 21px; width: 21px; border-style: solid; border-color: black; border-width: 1px;">&nbsp;</div>
			}
		}

		<input type="checkbox" />
		@row.Name
	</div>
	}

	<div class="@contentPadding">
		<ItemTreeNode ItemsSource=ItemsSource ParentRow=row />
	</div>
</div>


}





