@inherits Maklak.Client.Web.Models.Filter.PropertyEditorModel

@{ bool isDisabled = IsMeasureDisabled;}
<div>
	<div>Property Name: <input type="text" @bind-value="Text" /></div>
	<div>
		Measure Units:

		<select @bind="SelectedMeasureId" disabled=@isDisabled>


			@foreach (Maklak.Client.DataSets.LookupDS.ItemsRow row in this.MeasureUnits.Items)
			{

				<option value="@row.Id" selected=@row.IsSelected>
					@row.Name
				</option>

			}
		</select>
	</div>
</div>


