@inherits Maklak.Client.Web.Models.PopUpModel



<div class="@VisibilityClass">
	<div style="background-color:white;  position:absolute; height:300px; width:300px;">
		<PopUpContent/>
		<input type="button" @onclick="HidePopUp" value="Ok" />
	</div>
</div>