@inherits Maklak.Client.Web.Models.PopUpModel

<div class="@VisibilityClass">
	<div class="popUpScreen">
		<fieldset>
			<legend class="itemsfilterLegend">@Title</legend>
			<div>
				<PopUpContent /> @*содержимое всплывающего окна*@
			</div>
			<div>
				<input type="button" @onclick="(e=>ClosePopUp(false))" value="Ok" />
				<input type="button" @onclick="(e=>ClosePopUp(true))" value="Cancel" />
			</div>
		</fieldset>
	</div>
</div>