@inherits Maklak.Client.Web.Helpers.HelperPage

@helper FilterList(string name) {
    <div style="left:0px;right:0px;background-color:brown;">
        <div style="left:0px;right:0px;background-color:yellow;" >@name</div>
        <div style="left:0px;right:0px;background-color:cadetblue;">@FilterListHelper.ValueFilter()</div>
        <div style="left:0px;right:0px;background-color:red;">text</div>
    </div>
}

@helper StringFilter()
{
    <div style="left:0px;right:0px;background-color:gray;">
        <input type="text" />        
    </div>

}

@helper ValueFilter()
{
    <div style="left:0px;right:0px;background-color:gray;" >
        <input type="number" />
        <input type="number" />
    </div> 
    
}
