@model Maklak.Models.SuggestionModel

@*содержимое выпадающего списка*@


<table class="maxWidth suggestFont" id="suggestionTable">
    @foreach (int idKey in this.Model.SuggestionValues.Keys)
    {
        string name = this.Model.SuggestionValues[idKey];
        
        <tr highlited="false" class="highlightedRow">
            
            <td>
                <span class="sgItemFont" onclick="Suggest.SetSuggestion('@name')">@name</span>                
            </td>
        </tr>
    }
    
</table>



