@model Maklak.Models.BaseModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*vTabStrip must be loaded first as it defines hTabStrip context*@
@*везде передаём модель т.к. она содержит сгенерированный GUID*@

@*@section TabVStrip
{
    @Html.Action("vTabStrip", "Tab")
}

@section TabHStrip
{
    @Html.Action("hTabStrip", "Tab")
}*@

@*загрузка основного вида*@
@*@Html.Action(Model.Action, Model.Controller)*@
@*@Html.Action("Search", "Search", Model)*@

@*<div class="TabShield">*@
    @*Action и Controller из root row для TabPanel в Mvc.sitemap*@
    @Html.Action(Model.Action, Model.Controller)
@*</div>*@



