@page "/"

@using Maklak.Client.Web.Controls.Filter

<input type="hidden"  @bind-value="SID" />
@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
	<h1>Hello, @context.User.Identity.Name!</h1>
	</AuthorizeView>*@
	@*<div class="divBackGround">
		<div class="sidebar">
			<Filter />
		</div>
		<div class="searchContentArea">Content</div>

	</div>*@
