@page "/manage"
@using Maklak.Client.Web.Controls.Filter
@using Maklak.Client.Web.Controls.Content

<div class="contentCellBase">

	<div class="contentCellTitle"><h3>Search</h3></div>
	<div class="contentCellData">
		<div class="contentCellFilter">
			<Filter />
		</div>
		<div class="contentCellContent">
			<ManageContent/>
		</div>
	</div>
</div>