@page "/search"
@using Maklak.Client.Web.Controls.Filter

	<div class="contentCellBase">

		<div class="contentCellTitle"><h3>Search</h3></div>
		<div class="contentCellData">
			<div class="contentCellFilter">
				<Filter />
			</div>
			<div class="contentCellContent">
				Content
				@*<Filter />*@
				@*<div class="contentBlock">Content</div>
		<div class="contentBlock">Content</div>
		<div class="contentBlock">Content</div>
		<div class="contentBlock">Content</div>*@
			</div>
		</div>
	</div>