@page "/search"
@using Maklak.Client.Web.Controls.Filter

	<div class="flex flexColumn">
		<div><h3>Search</h3></div>
		<div class="grid searchWrapper">
			<div>
				<Filter />
			</div>
			<div>
				Content
			</div>
		</div>
	</div>