@model Maklak.Client.Models.TabRowModel


@{ 
    string elementClass = this.Model.Row.Active ? "topTabElement topTabActive" : "topTabElement";
    string elementStateClass = this.Model.Row.Active ? "topTabElementStateActive" : "topTabElementStatePassive";
} 
<div class="@elementClass" onclick="tabMgr.TabClick('@this.Model.Row.Key')" >
    <div class="@elementStateClass"></div>
    <div style="margin-top:5px;">@this.Model.Row.Name</div>
</div>