html, boby {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.titleCell {
	position: fixed;
	top: 0;
	left: 0;
	width: 350px;
	height: 100px;
	background: darkgrey;
}

.navBarCell {
	position: fixed;
	top: 100px;
	left: 0;
	width: 350px;
	bottom: 0px;
	background: lightgrey;
}

.contentTopCell {
	position: fixed;
	top: 0;
	left: 350px;
	right: 0px;
	height: 100px;
	display: flex; 
	justify-content: flex-end;
	background-color: bisque;
}

.contentCell {
	position: fixed;
	top: 100px;
	left: 350px;
	bottom: 0;
	right: 0;
	overflow: auto;
	background-color: linen;
}

#blazor-error-ui {
	display: none;
}

.grid {
	display: grid;
}
.flex {
	display: flex;
}

.flexColumn {
	flex-direction: column;
}

.flexRow {
	flex-direction:row;
}

.mainSplitter {
	grid-template-columns: 350px 1fr;
}
.searchWrapper {
	/*display: grid;*/
	grid-template-columns: 300px 1fr;
}

.searchPageMain {
	/*display: flex;*/
	flex-direction: column;
}