.FractalRootPanel 
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    /*margin:5px;*/
    background-color:lightyellow; 
}
.FractalPanel
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;    
    background-color:lightyellow; 
}


.topControlArea 
{
    background-color:lightyellow;
    height:35px;     
    top:0px;
    left:0px;
    right:0px;    
    
    position: absolute; 
}

.leftControlArea 
{
    background-color:lightyellow;
    width:180px;     
    top:0px;
    bottom:0px;
    
    position: absolute; 
}

.topContentArea {
    background-color:lightblue; 
    left:0px;
    top:35px;
    right:0px;
    bottom:0px;
    /*margin-top:1px;*/
    border-bottom:1px solid black;
    border-right:1px solid black;
    position: absolute; 
    
}



.leftContentArea {
    background-color:lightyellow; 
    left:180px;
    top:0px;
    right:0px;
    bottom:0px;
    /*margin-left:1px;*/
    position: absolute; 
    
}

.leftMainControl 
{
    background-color:lightyellow;
    width:360px;     
    top:0px;
    bottom:0px;
    
    position: absolute; 
}

.leftMainContent {
    background-color:lightyellow; 
    left:360px;
    top:0px;
    right:0px;
    bottom:0px;
    /*margin-left:1px;*/
    position: absolute; 
    
}