/*SuggestionHelper*/
.sgTopRow {
    font-size: 0.8em;
    background-color: Gray;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: right;
    padding-right: 4px;
}

.sgCloseSign {
    font-size: 0.8em;
    color: red;
    cursor: pointer;
}



.suggestionDIV {
    display: none;
    position: absolute;
    background-color: White;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
}

/*MakeSuggestion*/
.sgItemFont {
    font-size: 0.8em;
}

.highlightedRow:hover {
    background-color: #fffcd5;
}

.hiddenCell {
    display: none;
}
.sgInputName {
    display:block;
    font-size: 0.8em;
    margin-bottom:3px;
}
