.topTabsStrip
{
    background-color:lightyellow;    
    left:0px;
    right:0px; 
    height:40px;
    /*top:0px;*/
    /*display:table;*/ 
    position: absolute;
    /*padding-left:2px;
    padding-right:2px;*/    
    overflow: hidden;    
    white-space:nowrap;
    /*width:100%;*/   
}

.topTabElement
{
    background-color:lightblue; 
    width:130px;
    height:33px;    
    /*margin-left: 2px;
    margin-right: 2px;*/
    /*display:table-cell;*/
    float:left;
    /*display:inline-block;*/
    border: 1px solid black;
    text-align:center;
    bottom:0;
    margin-top:5px;
   
    
    
}

.topTabGap
{
    /*display:table-cell;*/
    float:left;    
    height:34px; 
    width:2px;
    border-bottom-color:black;
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin-top:5px;
}

.topTabStub
{
    /*display:table-cell;*/
    float:left;
    background-color:lightyellow;
    position:absolute;
    height:34px;
    /*left:0px;*/
    right:0;
    margin-top:5px;
    
    
    border-bottom-color:black;
    border-bottom-style:solid;
    border-bottom-width:1px;

    /*width:100%;*/
}

.leftTabPanel
{
    background-color:lightblue;    
    left:0px;
    top:0px;
    right:0px; 
    bottom:0px;
    position: absolute; 
}

.leftStripArea 
{
    background-color:lightyellow;
    width:180px;     
    top:0px;
    bottom:0px;
    
    position: absolute; 
}

.leftContentArea {
    background-color:lightblue; 
    left:180px;
    top:0px;
    right:0px;
    bottom:0px;
    
    position: absolute; 
    
}


.topTabPanel
{
    background-color:lightblue;    
    left:0;
    top:0px;
    right:0; 
    bottom:0px;
    position: absolute; 
}

.topStripArea 
{
    background-color:lightyellow;
    height:40px;     
    top:0px;
    left:0px;
    right:0px;    
    
    position: absolute; 
}

.topContentArea {
    background-color:lightblue; 
    left:0px;
    top:40px;
    right:0px;
    bottom:0px;
    
    position: absolute; 
    
}

.leftTabsStrip
{
    background-color:lightyellow;    
    left:0; 
    top:40px;
    bottom:0px;    
    width: 180px;
    
    position: absolute;   
    
}

.leftTabElement
{
    background-color:lightblue; 
    
    height:33px;    
    /*display:table-cell;*/
    margin-left:5px;    
    border: 1px solid black;
    /*margin-right:-1px;*/
    
}

.leftTabGap
{
    /*display:table-cell;*/    
    height:2px;     
     /*width:100%;*/
     left:0px;
     right:0px;
    border-right-color:black;
    border-right-style:solid;
    border-right-width:1px;
}

.leftTabStub
{
    /*display:table-cell;*/  
    /*background-color:blue;*/   
    position:absolute;    
    right:0;
    bottom:0;
    /*top:120px;*/  
    /*margin-right:-4px;*/   
    border-right-color:black;
    border-right-style:solid;
    border-right-width:1px;    
}

.topTabActive
{
    border-top-color:darkorange;
    border-top-width:4px;
    border-bottom-color:lightblue;
}
.leftTabActive
{
    border-left-color:darkorange;
    border-left-width:4px;
    border-right-color:lightblue;
    margin-right:-2px;
}

