.hTabsStrip
{
    background-color:lightyellow;    
    left:300px;
    right:0px; 
    height:40px;
    top:60px;
    /*display:table;*/ 
    position: absolute;
    /*padding-left:2px;
    padding-right:2px;*/    
    overflow: hidden;    
    white-space:nowrap;
    /*width:100%;*/   
}

.hTabElement
{
    background-color:lightblue; 
    width:130px;
    height:33px;    
    /*margin-left: 2px;
    margin-right: 2px;*/
    /*display:table-cell;*/
    float:left;
    /*display:inline-block;*/
    border: 1px solid black;
    text-align:center;
    bottom:0;
    margin-top:5px;
   
    
    
}

.hTabGap
{
    /*display:table-cell;*/
    float:left;    
    height:34px; 
    width:2px;
    border-bottom-color:black;
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin-top:5px;
}

.hTabStub
{
    /*display:table-cell;*/
    float:left;
    background-color:lightyellow;
    position:absolute;
    height:34px;
    /*left:0px;*/
    right:0;
    margin-top:5px;
    
    
    border-bottom-color:black;
    border-bottom-style:solid;
    border-bottom-width:1px;

    /*width:100%;*/
}

.leftTabPanel
{
    background-color:lightblue;    
    left:0px;
    top:0px;
    right:0px; 
    bottom:0px;
    position: absolute; 
}

.leftStripArea 
{
    background-color:red;
    width:200px;     
    top:0px;
    bottom:0px;
    
    position: absolute; 
}

.leftContentArea {
    background-color:green; 
    left:200px;
    top:0px;
    right:0px;
    bottom:0px;
    
    position: absolute; 
    
}


.topTabPanel
{
    background-color:lightblue;    
    left:0;
    top:0px;
    right:0; 
    bottom:0px;
    position: absolute; 
}

.topStripArea 
{
    background-color:red;
    height:100px;     
    top:0px;
    left:0px;
    right:0px;    
    
    position: absolute; 
}

.topContentArea {
    background-color:green; 
    left:0px;
    top:100px;
    right:0px;
    bottom:0px;
    
    position: absolute; 
    
}

.vTabsStrip
{
    background-color:lightyellow;    
    left:0; 
    top:100px;
    bottom:25px;    
    width: 300px;
    
    position: absolute;   
    
}

.vTabElement
{
    background-color:lightblue; 
    
    height:33px;    
    /*display:table-cell;*/
    margin-left:5px;    
    border: 1px solid black;
    margin-right:-1px;
    
}

.vTabGap
{
    /*display:table-cell;*/    
    height:2px;     
     width:100%;
    border-right-color:black;
    border-right-style:solid;
    border-right-width:1px;
}

.vTabStub
{
    /*display:table-cell;*/    
    position:absolute;    
    right:0;
    bottom:0;
    top:120px;  
    margin-right:-1px;   
    border-right-color:black;
    border-right-style:solid;
    border-right-width:1px;    
}

.hTabActive
{
    border-top-color:darkorange;
    border-top-width:4px;
    border-bottom-color:lightblue;
}
.vTabActive
{
    border-left-color:darkorange;
    border-left-width:4px;
    border-right-color:lightblue;
    margin-right:-2px;
}

