@model Maklak.Models.TabRowModel


@{ 
    string elementClass = !this.Model.Row.Disabled ? "hTabElement hTabActive" : "hTabElement";   
} 
<div class="@elementClass" onclick="hTabMgr.TabClick(@this.Model.Row.Key)" >@this.Model.Row.Name</div>