@model Maklak.Models.TabPanelModel

@*style="width:150px;height:150px;background-color:antiquewhite;float:left"*@

@{ 
    string panelClass = string.Empty;
    string stripClass = string.Empty;
    string contentClass = string.Empty;

    string classPrefix = string.Empty;

    switch (this.Model.DokPosition)
    {
        case Maklak.Models.TabPanelModel.DOKPOSITION.LEFT:
            classPrefix = "left";
            break;
        case Maklak.Models.TabPanelModel.DOKPOSITION.TOP:
            classPrefix = "top";
            break;
        case Maklak.Models.TabPanelModel.DOKPOSITION.RIGHT:
            classPrefix = "right";
            break;
        case Maklak.Models.TabPanelModel.DOKPOSITION.BOTTOM:
            classPrefix = "bottom";
            break;
    }

    panelClass = string.Format("{0}TabPanel", classPrefix);
    stripClass = string.Format("{0}StripArea", classPrefix);
    contentClass = string.Format("{0}ContentArea", classPrefix);

    bool hasChild = this.Model.HasChildPanel();
    RouteValueDictionary routPanelValues = new RouteValueDictionary();
    routPanelValues.Add("Key", this.Model.ChildKey());
    RouteValueDictionary routStripValues = new RouteValueDictionary();
    routStripValues.Add("Key", this.Model.Key);
 }

<div class="@panelClass">

    <div class="@stripClass">
        Strip
        @Html.Action("TabStrip", "Tab", routStripValues)
    </div>
    <div class="@contentClass">Content
        @{
            if (hasChild)
            {
                Html.RenderAction("TabPanel", "Tab", routPanelValues);
            }

         }        
    </div>
</div>

