@model Maklak.Models.TabModel

@*style="width:150px;height:150px;background-color:antiquewhite;float:left"*@
<div class="leftTabPanel">

    <div class="tabStripArea">
        @Html.Action("vTabStrip", "Tab")
    </div>
    <div class="tabContentArea"></div>
</div>

