@model Maklak.Models.TabPanelModel

@*style="width:150px;height:150px;background-color:antiquewhite;float:left"*@

@{ 
    string panelClass = string.Empty;
    string stripClass = string.Empty;
    string contentClass = string.Empty;

    string classPrefix = string.Empty;

    switch (this.Model.DokPosition)
    {
        case Maklak.Models.TabPanelModel.DOKPOSITION.LEFT:
            classPrefix = "left";
            break;
        case Maklak.Models.TabPanelModel.DOKPOSITION.TOP:
            classPrefix = "top";
            break;
        case Maklak.Models.TabPanelModel.DOKPOSITION.RIGHT:
            classPrefix = "right";
            break;
        case Maklak.Models.TabPanelModel.DOKPOSITION.BOTTOM:
            classPrefix = "bottom";
            break;
    }

    panelClass = string.Format("{0}TabPanel", classPrefix);
    stripClass = string.Format("{0}StripArea", classPrefix);
    contentClass = string.Format("{0}ContentArea", classPrefix);
 }

<div class="@panelClass">

    <div class="@stripClass">
        Strip
        @Html.Action("vTabStrip", "Tab")
    </div>
    <div class="@contentClass">Content
        @{
            if (this.Model.HasChildPanel())
            {
                RouteValueDictionary routValues = new RouteValueDictionary();
                routValues.Add("Key", this.Model.ChildKey());

                Html.RenderAction("TabPanel", "Tab", routValues);
            }

         }        
    </div>
</div>

