@model Maklak.Models.TabRowModel

@{ 
    string elementClass = this.Model.Row.Enabled ? "vTabElement vTabActive" : "vTabElement";   
} 

<div class="@elementClass" onclick="vTabMgr.TabClick('@this.Model.Row.Key')">@this.Model.Row.Name</div>
