@model Maklak.Models.TabRowModel

@{ 
    string elementClass = this.Model.Row.Active ? "leftTabElement leftTabActive" : "leftTabElement";
    string elementStateClass = this.Model.Row.Active ? "leftTabElementStateActive" : "leftTabElementStatePassive";
} 

<div class="@elementClass" onclick="$(@this.Model.Row.Form_Id).submit()">
    <div class="@elementStateClass"></div>
    <div style="margin-left:6px;margin-top:5px;">@this.Model.Row.Name</div>
    
</div>
