@model Maklak.Models.TabRowModel

@{ 
    string elementClass = this.Model.Row.Active ? "leftTabElement leftTabActive" : "leftTabElement";   
} 

<div class="@elementClass" onclick="vTabMgr.TabClick('@this.Model.Row.Key')">@this.Model.Row.Name</div>
