<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceTest" />
                <binding name="BasicHttpBinding_IDataSource" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64894/ServiceTest.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTest" contract="ServiceTestReference.IServiceTest"
                name="BasicHttpBinding_IServiceTest" />
            <endpoint address="http://localhost:64894/DataSource.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataSource" contract="DataSourceServiceReference.IDataSource"
                name="BasicHttpBinding_IDataSource" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
