@inherits Maklak.Web.Helpers.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;

@helper SuggestionPopUp()
{


    <style type="text/css">



        .sgTopRow {
    font-size: 0.8em;
    background-color: Gray;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align:right;
    padding-right:4px;
}

        .sgCloseSign {
    font-size: 0.8em;
color:red;
cursor:pointer;
}

        

        .suggestionDIV {
display: none;
position: absolute;
    background-color: White;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
}
    </style>

    <script src="~/Scripts/App/Suggestion.js"></script>

    <div class="suggestionDIV" id="suggestiontPopUp" >
        <div id="suggestionTopStrip" class="sgTopRow" ><span class="sgCloseSign">x</span></div>
        <div id="suggestionContent" ></div>
        @Html.Hidden("suggestionSelectedKey",null,new { id = "suggestionSelectedKey" })
    </div>

    @*<div class="suggestionDIV" id="suggestiontPopUp">
        <table class="sgContentTable">

            <tr class="sgTopRow">
                <td class="closeSGStripCell">&nbsp;</td>
                <td class="xSGCell rightAlign" onclick="Suggest.HideSuggestion()">x</td>
            </tr>

            <tr class="sgContentRow">
                <td class="sgContentCell" colspan="2"><div id="suggestionContent"></div></td>
            </tr>

        </table>
    </div>*@

   

}