@inherits Maklak.Web.Helpers.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Maklak.Models

@helper SuggestionPopUp()
{


    <div class="suggestionDIV" id="suggestiontPopUp" >
        <div id="suggestionTopStrip" class="sgTopRow" ><span class="sgCloseSign" onclick="Suggest.HideSuggestion()">x</span></div>
        <div id="suggestionContent" ></div>        
    </div>

}

@helper SuggestionInput(SuggestionModelHelper.SuggestionKeys suggestionInputKey, string inputId,string inputName)
{
string sgKey = suggestionInputKey.ToString();

    <div>
        <span class="sgInputName">@inputName:</span>
        <input type="text" id="@inputId"  data-suggestionKey ="@sgKey" oninput = "Suggest.ShowSuggestion(event,this)" />
        
    </div>
    

}