@inherits Maklak.Web.Helpers.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Maklak.Models

@helper SuggestionPopUp()
{


    <div class="suggestionDIV" id="suggestiontPopUp" >
        <div id="suggestionTopStrip" class="sgTopRow" ><span class="sgCloseSign" onclick="Suggest.HideSuggestion()">x</span></div>
        <div id="suggestionContent" ></div>        
    </div>

}

@helper SuggestionInput(SuggestionModelHelper.SuggestionKeys suggestionInputKey, string inputId,string inputName)
{
string sgKey = suggestionInputKey.ToString();
string hiddenId = inputId.ToString() + "_SelectedValue";
    <div>
        <span class="sgInputName">@inputName:</span>
        <input type="text" id="@inputId" suggestionKey ="@sgKey" onKeyUp = "Suggest.ShowSuggestion(this,document.getElementById('@hiddenId'))" oninput="Suggest.Clear(this, document.getElementById('@hiddenId'))"/>
        <input type="hidden" id="@hiddenId"/>
        
    </div>
    

}