@using Maklak.Models
<div style="margin-bottom:3px" >
    <div > @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.PROUDUCT, "ProductInput", "Product Name")</div>
    <div > @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.MODEL, "ModelInput", "Model Name")</div>
    <div > @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.PRODUCER, "ProducerInput", "Producer Name")</div>
</div>
