@using Maklak.Client.Web.Controls.Auth;
@using Maklak.Client.Web.Controls.PopUp;
@inherits LayoutComponentBase


<div class="fullScreen">

	<div class="flexColumn">
		<div class="titleCell">Title</div>
		<div class="navBarCell">
			<NavMenu />
		</div>
	</div>

	<div class="flexColumn">
		<div class="contentTopCell">

			<LoginControl />

		</div>

		<div class="contentCell">
			@Body
		</div>
	</div>

	<PopUpScreen />
</div>

