@using Maklak.Client.Web.Controls.Auth;
@inherits LayoutComponentBase


<div class="grid mainSplitter">

	<div class="flex flexColumn">
		<div class="titleCell">Title</div>
		<div class="navBarCell">
			<NavMenu />
		</div>
	</div>

	<div class="flex flexColumn">
		<div class="contentTopCell">

			<LoginControl/>
			
		</div>
		<div class="contentCell">
			@Body
		</div>
	</div>
</div>

