@using Maklak.Client.DataSets
@model Maklak.Client.Models.SuggestionModel

@*содержимое выпадающего списка*@


<table class="maxWidth suggestFont" id="suggestionTable">
    @foreach (ModelDS.SuggestionRow row in this.Model.SuggestionData)
    {
        string name = row.ItemValue;
        
        <tr highlited="false" class="highlightedRow">
            
            <td>
                <span class="sgItemFont" onclick="Suggest.SetSuggestion('@name')">@name</span>                
            </td>
        </tr>
    }
    
</table>



