

<div class="divBackGround">
    <div class="searchControlArea">

        @*@ExpanderHelper.Expander(this.Model)*@
        @*@Html.Action("TreeNode")*@
        
		@Html.Action("Tree")
    </div>

    <input type="submit" value="Apply" style="position:absolute;bottom:0px;"/>
</div>
