@using Maklak.Client.Models
@using Maklak.Client.DataSets



@{

    string inputId = "PropertyNameInput";
    string suggestionKey = SuggestionModelHelper.SuggestionKeys.PROPERTY.ToString();
}
<style>
    .simpleTable {
        border-collapse: collapse;
        width: 100%;
    }

    .simpleTableCell {
        border: 1px solid black;
    }
</style>



<div style="margin-bottom:3px;">
    <div style="margin:2px"> @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.PROPERTY, inputId, "Property Name")</div>
    <div style="margin:2px"> 
        <span class="sgInputName">Measure unit:</span>
        <select style="width:150px" ></select> 
    </div>
    <div style="margin:2px">
        <span class="sgInputName">Property value:</span>
        <select style="width:150px"></select>
    </div>
    <input type="button" value="Add" style="margin:2px" onclick="Fractal.RefreshControl(this,'FILTERID=0')" />

    <div style="margin:4px;position:relative;right:0px;left:0px;">
        <table class="simpleTable">
            <tr>
                <td class="simpleTableCell">TAG</td>
                <td class="simpleTableCell">&nbsp;</td>
            </tr>
           
        </table>
    </div>
</div>

