@using Maklak.Client.Models
@using Maklak.Client.DataSets

@model Maklak.Client.Models.TagModel

@{ 

    string inputId = "TagInput";
    string suggestionKey = SuggestionModelHelper.SuggestionKeys.TAG.ToString();
}
<style>
    .simpleTable{
        border-collapse: collapse;
        width:100%;
    }
    .simpleTableCell{
        border:1px solid black;
    }
</style>



<div style="margin-bottom:3px;">
    <div style="margin:2px"> @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.TAG, inputId, "Tag Name")</div>
    @*RefreshControl('@inputId','@suggestionKey')*@
    <input type="button" value="Add" style="margin:2px" onclick="Fractal.RefreshControl(this)" />

    <div  style="margin:4px;position:relative;right:0px;left:0px;">
        <table class="simpleTable">
            <tr >
                <td class="simpleTableCell">TAG</td>
                <td class="simpleTableCell">&nbsp;</td>
            </tr>

            @{ 
                foreach (ModelDS.TagsRow row in this.Model.Tags)
                {
                    <tr><td>@row.TagName</td><td>&nbsp</td></tr>
                    //Html.Raw(string.Format("<tr><td>{0}</td><td>{1}</td></tr>",row.TagName,"&nbsp"));                    
                }
            }
        </table>
    </div>
</div>
