@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{
			string nodeMargins = this.Model.IsRoot ? "" : "nodeMargins";

			@*if (this.Model.NodeRow.UseFilterPanel)
			{
		<div class="filterPanel nodeMargins">
			@Html.Partial("TreeControl/NodeFilter", this.Model)
		</div>
	}

	if (this.Model.NodeRow.UseSelectionPanel)
	{
		// панель для отображения выбранных позиций
		<div class="selectionPanel nodeMargins">
			@Html.Partial("TreeControl/SelectionPanel", this.Model)
		</div>
	 }*@

	 if (this.Model.Nodes.Count > 0)
	 {
		<div class="@nodeMargins">
			@*рекурсивное отображение вложенных узлов*@
			@{
				foreach (TreeNodeModel node in this.Model.Nodes)
				{
					@Html.Partial("TreeControl/TreeNode", node)
				}
			}

		</div>
	 }
}