@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{
//отображение самого узла

//назване item для конечных листов
	<div class="itemNamePanel">

		@if (this.Model.NodeRow.Expandable)
		{
			string sign = this.Model.NodeRow.Expanded ? "-" : "+";

			<div class="expanderSwitch" onclick="alert('Ok')">@sign</div>
		}

		@if (this.Model.NodeRow.Selectable)
		{
			@Html.CheckBoxFor(m=> m.NodeRow.Selected)
		}

		@this.Model.NodeRow.Name
	</div>

}
