@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{
//отображение самого узла

//назване item для конечных листов
	<div class="itemNamePanel">

		@if (this.Model.NodeRow.Expandable)
		{
			string sign = "+";//this.Model.NodeRow.Expanded ? "-" : "+";
			int branchId = this.Model.NodeRow.Branch_Id;
			int nodeId = this.Model.NodeRow.Id;
			<div class="expanderSwitch" onclick="Tree.Toggle(this,@branchId,@nodeId)">@sign</div>
		}

		@if (this.Model.NodeRow.Selectable)
		{
			@Html.CheckBoxFor(m=> m.NodeRow.Selected)
		}

		@this.Model.NodeRow.Name
	</div>

}
