@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{ 

	string commonNodeStyle = "commonNodePanel " + (this.Model.NodeRow.UseSeparator ? "commonNodesPanelSeparator" : "");

	string nestedNodesStyle = "nestedNodesPanel " + (this.Model.IsVisibleRoot(this.Model.NodeRow) ? "" : " nestedNodesShift ") + (this.Model.NodeRow.UseNodesBorder ? " nestedNodesPanelBorder" : "");
}

<div class="@commonNodeStyle">

	<div >
		@{
			//отображение самого узла
			if (this.Model.NodeRow.Visible)
			{
				@Html.Partial("TreeControl/NodeContent", this.Model)
			}
		}
	</div>

	<div class="@nestedNodesStyle">

		@{
			// рекурсивное отображение вложенных узлов
			foreach (TreeNodeModel node in this.Model.Nodes)
			{
				@Html.Partial("TreeControl/TreeNode", node)
			}
		}
	</div>



</div>
