@using  Maklak.Client.Models

@model Maklak.Client.Models.TreeModel

<div style="position:absolute;right:0px; left:0px;top:0px;bottom:0px;">

    @{
		
			@Html.Partial("TreeControl/TreeNode", this.Model.RootNode)
		

	}        

</div>
