@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{ 

	string commonNodeStyle = "commonNodePanel " + (this.Model.NodeRow.UseSeparator ? "commonNodesPanelSeparator" : "");

	string nestedNodesStyle = "nestedNodesPanel " + (this.Model.NodeRow.Expanded  ? "" : "hidden");
}

<div class="@commonNodeStyle">

	<div >
		@{
			//отображение самого узла
			if (this.Model.NodeRow.Visible)
			{
				@Html.Partial("TreeControl/NodeContent", this.Model)
			}
		}
	</div>

	<div class="@nestedNodesStyle">

		@Html.Partial("TreeControl/NestedContent", this.Model)

	</div>



</div>
