<h3>Login</h3>

<div>

	<div class="content px-4">
		<input id="login" type="text" @bind-value="UserLogin" />
	</div>

	<div class="content px-4">
		<input id="pass" type="password" @bind-value="UserPassword" />
	</div>

	<div class="content px-4">
		<button type="button" @onclick="OnLogin">Login</button>
	</div>

	<div class="content px-4">
		<NavLink class="nav-link" href="login/registerpage">Register</NavLink>
	</div>

	<AuthorizeView>		
		<NotAuthorized>
			@errorMessage
		</NotAuthorized>
	</AuthorizeView>

</div>


